div.chat
    div.chat__container
        div.header
            h2 You are logged in as ...
        div.chat__box
            each message in messages
                div.message-box.left-img
                    div.picture
                        img(src="https://unsplash.it/200/200/?random=0.07515586249598627")
                        span.time 21:30
                    div.message
                        span= message.name
                        p= message.text